:root {
    --white: #F9F9F9;
    --darkWhite: #F3F3F3;
    --lightGray: #DEDEDE;
    --midleGray: #999797;
    --darkGray: #535050;
    --black: #000000;
    --primaryColor: #FF6969;
    --detailColor: #99847C;
}
